GuGa_p146_SchemaBrazil_versionFinal.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema">
  <element name="pelicula">
    <complexType>
    <all>
      <element name="director" type="string"/>
      <element name="protagonista" type="string"/> 
    </all>
      <attribute name="titulo" type="string"/>
      <attribute name="minutos" type="integer"/>
    </complexType>
  </element>
</schema>